In [1]:
import pandas as pd
from permutations import *

In [2]:
congress=pd.read_csv('congress_main.csv')

In [6]:
congress['TransactionDate'] = pd.to_datetime(congress['TransactionDate'])
congress['Variance']=congress.apply(calculate_variance,axis=1)
congress.head()

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,Party,House,Range,Sentiment,...,Low_End,High_End,Adjusted_Low_End,Adjusted_High_End,Running_Portfolio_Low_End,Running_Portfolio_High_End,Est_Portfolio_Value,Shares_High_End,Shares_Low_End,Variance
0,2018-05-15,2018-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-3003.0,-45000.0,-24001.5,-305.752120,-20.403858,294.684185
1,2018-06-13,2018-06-01,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-4004.0,-60000.0,-32002.0,-319.559072,-21.325242,349.939538
2,2018-09-14,2018-09-06,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-5005.0,-75000.0,-40002.5,-299.494566,-19.986271,331.180570
3,2019-03-06,2019-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-7007.0,-105000.0,-56003.5,-341.869433,-22.814087,248.649209
4,2019-06-14,2019-06-03,VMC,A. Mitchell Jr. McConnell,Sale,250001.0,R,Senate,250001 - 500000,NaN,...,250001.0,500000.0,250001.0,500000.0,241993.0,380000.0,310996.5,4052.019634,2026.017921,2654.537278

In [31]:
len(congress.Amount.unique())

312

In [7]:
permutation(congress.head())

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,Party,House,Range,Sentiment,...,Low_End,High_End,Adjusted_Low_End,Adjusted_High_End,Running_Portfolio_Low_End,Running_Portfolio_High_End,Est_Portfolio_Value,Shares_High_End,Shares_Low_End,Variance
0,2019-06-14,2019-06-03,VMC,A. Mitchell Jr. McConnell,Sale,250001.0,R,Senate,250001 - 500000,NaN,...,250001.0,500000.0,250001.0,500000.0,241993.0,380000.0,310996.5,4052.019634,2026.017921,2654.537278
1,2019-03-06,2019-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-7007.0,-105000.0,-56003.5,-341.869433,-22.814087,248.649209
2,2018-06-13,2018-06-01,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-4004.0,-60000.0,-32002.0,-319.559072,-21.325242,349.939538
3,2018-09-14,2018-09-06,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-5005.0,-75000.0,-40002.5,-299.494566,-19.986271,331.18057
4,2018-05-15,2018-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-3003.0,-45000.0,-24001.5,-305.75212,-20.403858,294.684185

In [21]:
scs=congress.iloc[40:45]
scs

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,Party,House,Range,Sentiment,...,Low_End,High_End,Adjusted_Low_End,Adjusted_High_End,Running_Portfolio_Low_End,Running_Portfolio_High_End,Est_Portfolio_Value,Shares_High_End,Shares_Low_End,Variance
40,2020-07-21,2020-06-23,USFD,Adam Kinzinger,Sale,1001.00,R,Representatives,1001-15000,NaN,...,1001.00,15000.0,1001.00,15000.0,-3003.00,-45000.0,-24001.5,724.637655,48.357486,78.445885
41,2020-07-21,2020-06-25,AAL,Adam Kinzinger,Purchase,1001.00,R,Representatives,1001-15000,NaN,...,1001.00,15000.0,-1001.00,-15000.0,-4004.00,-60000.0,-32002.0,-1138.952157,-76.006074,24.588907
42,2020-07-21,2020-07-23,USFD,Adam Kinzinger,Purchase,1001.00,R,Representatives,1001-15000,NaN,...,1001.00,15000.0,-1001.00,-15000.0,-5005.00,-75000.0,-40002.5,-715.648886,-47.757636,80.774330
43,2018-05-09,2018-01-09,ADSK,Alan S. Lowenthal,Sale,1001.00,D,Representatives,1001-15000,NaN,...,1001.00,15000.0,1001.00,15000.0,1001.00,15000.0,8000.5,133.797163,8.928731,2256.534735
44,2018-05-03,2018-04-25,CHTR,Alan S. Lowenthal,Sale,299.14,D,Representatives,299.14,NaN,...,299.14,NaN,299.14,NaN,1300.14,NaN,NaN,NaN,0.995971,12556.276998

In [24]:
pd.DataFrame(np.random.permutation(scs))

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,2020-07-21,2020-07-23,USFD,Adam Kinzinger,Purchase,1001.0,R,Representatives,1001-15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-5005.0,-75000.0,-40002.5,-715.648886,-47.757636,80.77433
1,2018-05-09,2018-01-09,ADSK,Alan S. Lowenthal,Sale,1001.0,D,Representatives,1001-15000,NaN,...,1001.0,15000.0,1001.0,15000.0,1001.0,15000.0,8000.5,133.797163,8.928731,2256.534735
2,2020-07-21,2020-06-23,USFD,Adam Kinzinger,Sale,1001.0,R,Representatives,1001-15000,NaN,...,1001.0,15000.0,1001.0,15000.0,-3003.0,-45000.0,-24001.5,724.637655,48.357486,78.445885
3,2020-07-21,2020-06-25,AAL,Adam Kinzinger,Purchase,1001.0,R,Representatives,1001-15000,NaN,...,1001.0,15000.0,-1001.0,-15000.0,-4004.0,-60000.0,-32002.0,-1138.952157,-76.006074,24.588907
4,2018-05-03,2018-04-25,CHTR,Alan S. Lowenthal,Sale,299.14,D,Representatives,299.14,NaN,...,299.14,NaN,299.14,NaN,1300.14,NaN,NaN,NaN,0.995971,12556.276998

In [6]:
congress['TransactionDate'] = pd.to_datetime(congress['TransactionDate'])
congress['Variance']=congress.apply(calculate_variance,axis=1)

In [7]:
ranks=congress.groupby('Representative')['Variance'].mean().sort_index(ascending=False)

In [9]:
ranks=pd.DataFrame(ranks).reset_index()
ranks

                Representative      Variance
0                  Zoe Lofgren   7269.274212
1        William R. Timmons Iv   2598.716501
2           William R. Keating  35699.632310
3              Warren Davidson    249.248936
4               W. Greg Steube    132.526907
..                         ...           ...
209          Alan S. Lowenthal   8974.248334
210             Adam Kinzinger     53.389219
211             Adam B. Schiff   2208.014949
212         Abigail Spanberger   4973.865121
213  A. Mitchell Jr. McConnell    367.146797

[214 rows x 2 columns]

In [19]:
#list(ranks.sort_values(by='Variance')[:10]['Representative'])
list(ranks.sort_values(by='Variance').tail(10)['Representative'])

['Peter Meijer',
 'Kathy Manning',
 'Cindy Axne',
 'Dan Sullivan',
 'Jonathan Jackson',
 'John Hickenlooper',
 'William R. Keating',
 'Thomas H. Kean',
 'Dan Newhouse',
 'Nicholas Van Taylor']